@model IEnumerable<WebApplication1.Models.AwardModel>

@{
    ViewBag.Title = "ShowUserAwards";
}

<h2>@ViewBag.User.Name awards:</h2>

<p>
    @Html.ActionLink("Award with existing award", "ShowPotentialUserAwards", new { id = ViewBag.User.ID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to User List", "Index")
</div>